<!-- Variant price -->
<li class="product-page--pricing--variant-price">
  <span class="js" id="price-field">
    {% if pick_an_option %}
      <span class="type-subheading">{{ 'products.product.make_a_selection' | t }}</span>
    {% else %}
      <span class="money">{{ current_variant.price | money }}</span>
    {% endif %}
  </span>
    {% if product.tags contains 'dozen' or product.tags contains 'Dozen' or product.tags contains 'DOZEN' %}
  <span class="tagged-message">/ Docena</span>
  {% elsif product.tags contains 'pcs' or product.tags contains 'PCS' or product.tags contains 'Pcs' %}
  <span class="tagged-message">/ Pcs</span>
  {% elsif product.tags contains 'boxes' or product.tags contains 'Boxes' or product.tags contains 'BOXES' %}
  <span class="tagged-message">/ Cajas</span>
  {% endif %}
</li>

<!-- Variant 'compare at' price -->
<li class="product-page--pricing--variant-compare-at-price">
  <span class="compare-at-price js{% unless on_sale %} hide{% endunless %}">
    <span class="money">{{ current_variant.compare_at_price | money }}</span>
  </span>
</li>
