{% unless product.has_only_default_variant %}
  <div class="variant-inventory-level rte">
    <table>
      <thead>
        <tr>
          <th>{{ 'products.inventory_title' | t }}</th>
          <th>{{ 'products.inventory' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for variant in product.variants %}
          <tr><td>{{ variant.title }}</td><td>{{ variant.inventory_quantity }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endunless %}

{% schema %}
  {
    "name": "Product Inventory Table",
    "settings": []
  }
{% endschema %}